.wide {
  padding: .8rem 1.5rem !important;
}

button {
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: row;
}

.btn-primary {
  border-width: 1px !important;
  border-color: #0275d8 !important;
  background: #0275d8 !important;
}

.btn-ghost {
  color: #0275d8 !important;
  border-width: 1px !important;
  border-color: #0275d8 !important;
  background: transparent !important;
}

.btn-lg {
  border-width: 2px;
}

.btn-ghost:hover {
  color: #2497fa !important;
  border-color: #2497fa !important;
}

body {
  background-color: #F4F8FB;
}

.navbar {
  background: #0275d8 !important;
  border-bottom: solid 2px #2497fa;
  color: white !important;
}

.rounded-circle {
  background-size: cover !important;
}

.panel-fluid {
  padding: 0 !important;
}

.tables-list li:first-child {
  border-top: none !important;
}

.tables-list li:last-child {
  border-bottom: 2px solid rgb(233, 241, 244) !important;
}

.tables-list li:hover {
  background: rgb(250, 250, 250);
  cursor: pointer;
}

.btn-delete {
  display: none;
}

.btn-view {
  display: none;
}

.tables-list li:hover span.btn-delete {
  display: inline-block;
  position: absolute;
  right: 10px;
  font-size: 16px;
}

.tables-list li:hover span.btn-view {
  display: inline-block;
  position: absolute;
  left: 10px;
  font-size: 16px;
}

li.list-group-item.selected {
  border-bottom: 3px solid darkseagreen !important;
}

.react-grid-Container {
  left: -15px;
  position: relative;
}
